
composer.phar
composer.lock
vendor
frontend/runtime
backend/runtime
.idea/copyright/
.idea/deployment.xml
.idea/gurps.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
#frontend/runtime/debug/57a7471415b63.data
#frontend/runtime/debug/57a74715ef05f.data
#frontend/runtime/debug/57a7471da94e9.data
#vendor/bin/markdown.bat
#vendor/bin/yii.bat
#vendor/ezyang/htmlpurifier/plugins/phorum/htmlpurifier/
#vendor/yiisoft/yii2-bootstrap/.editorconfig
#vendor/yiisoft/yii2-bootstrap/.gitattributes
#vendor/yiisoft/yii2-bootstrap/.github/
#vendor/yiisoft/yii2-bootstrap/.gitignore
#vendor/yiisoft/yii2-bootstrap/.travis.yml
#vendor/yiisoft/yii2-bootstrap/docs/
#vendor/yiisoft/yii2-bootstrap/phpunit.xml.dist
#vendor/yiisoft/yii2-bootstrap/tests/
#vendor/yiisoft/yii2-codeception/.editorconfig
#vendor/yiisoft/yii2-codeception/.gitattributes
#vendor/yiisoft/yii2-codeception/.github/
#vendor/yiisoft/yii2-codeception/.gitignore
#vendor/yiisoft/yii2-codeception/docs/
#vendor/yiisoft/yii2-composer/.editorconfig
#vendor/yiisoft/yii2-composer/.gitattributes
#vendor/yiisoft/yii2-composer/.github/
#vendor/yiisoft/yii2-composer/.gitignore
#vendor/yiisoft/yii2-debug/.editorconfig
#vendor/yiisoft/yii2-debug/.gitattributes
#vendor/yiisoft/yii2-debug/.github/
#vendor/yiisoft/yii2-debug/.gitignore
#vendor/yiisoft/yii2-debug/.travis.yml
#vendor/yiisoft/yii2-debug/docs/
#vendor/yiisoft/yii2-debug/phpunit.xml.dist
#vendor/yiisoft/yii2-debug/tests/
#vendor/yiisoft/yii2-faker/.editorconfig
#vendor/yiisoft/yii2-faker/.github/
#vendor/yiisoft/yii2-faker/.gitignore
#vendor/yiisoft/yii2-faker/.travis.yml
#vendor/yiisoft/yii2-faker/docs/
#vendor/yiisoft/yii2-faker/phpunit.xml.dist
#vendor/yiisoft/yii2-faker/tests/
#vendor/yiisoft/yii2-gii/.editorconfig
#vendor/yiisoft/yii2-gii/.gitattributes
#vendor/yiisoft/yii2-gii/.github/
#vendor/yiisoft/yii2-gii/.gitignore
#vendor/yiisoft/yii2-gii/.travis.yml
#vendor/yiisoft/yii2-gii/docs/
#vendor/yiisoft/yii2-gii/phpunit.xml.dist
#vendor/yiisoft/yii2-gii/tests/
#vendor/yiisoft/yii2-jui/.editorconfig
#vendor/yiisoft/yii2-jui/.gitattributes
#vendor/yiisoft/yii2-jui/.github/
#vendor/yiisoft/yii2-jui/.gitignore
#vendor/yiisoft/yii2-jui/.travis.yml
#vendor/yiisoft/yii2-jui/docs/
#vendor/yiisoft/yii2-jui/phpunit.xml.dist
#vendor/yiisoft/yii2-jui/tests/
#vendor/yiisoft/yii2-swiftmailer/.editorconfig
#vendor/yiisoft/yii2-swiftmailer/.gitattributes
#vendor/yiisoft/yii2-swiftmailer/.github/
#vendor/yiisoft/yii2-swiftmailer/.gitignore
#vendor/yiisoft/yii2-swiftmailer/.travis.yml
#vendor/yiisoft/yii2-swiftmailer/phpunit.xml.dist
#vendor/yiisoft/yii2-swiftmailer/tests/
#frontend/runtime/debug/57a762ea3cacc.data
#frontend/runtime/debug/57a762eadecb2.data
#frontend/runtime/debug/57a762f4484a3.data
#frontend/runtime/debug/57a762f79d4c3.data
#frontend/runtime/debug/57a7630182d30.data
#frontend/runtime/debug/57a76301d1ee3.data
#frontend/runtime/debug/57a7630476a89.data
